
html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 10vh;
    /* background: rgb(199, 198, 198); */
    background: linear-gradient(white, grey);
}

#header span {
    height: 100%;
    margin-left: 80px;

    text-align: left;
    line-height: 10vh;
    vertical-align: middle;
    font-size: 50px;
    font-weight: bold;
}

#selection {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(grey, white, grey); */
}

#selection div {
    width: 500px;
}

#app {
    width: 100%;
    height: 80vh;
    background: linear-gradient(grey, white, grey);

    display: flex;
    position: relative;
}

#img_picker {
    width: 100%;
}

#download_btn {
    color: grey;
}

#working-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(150, 150, 150, .9);
}

.pane {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.pane__title {
    padding: 10% 0 5% 0;
    font-size: 30px;
    text-align: center;
}

.pane__image {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.pane__image img {
    max-width: 90%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    display: block;

    border: solid 1px black;
}

.pane__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-picker {
    width: 400px !important;
}

.button-spacer {
    width: 100px;
}